aniso8601==8.0.0
certifi==2022.12.07
chardet==3.0.4
click==7.1.2
flask>=2.3.2
Flask-Dance==3.0.0
Flask-RESTful==0.3.8
Flask-WTF==0.14.3
geojson==2.5.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
jinja2>=2.11.3
MarkupSafe==1.1.1
numpy
oauthlib==3.1.0
pandas
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
urllib3>=1.26.5
URLObject==2.4.3
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.3
xlrd==1.2.0
openpyxl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PyYAML==5.4.1
