/* CSS Codes */

#time_later{
  font-size: 48px;
  color: red;
  font-weight: bolder;
}

#time_now {
  font-size: 26px;
  /* font-weight: bold; */
}

#date_today {
  font-size: 26px;
  /* font-weight: bold; */
}

.icon-title{
  font-size: 19px;
}
